<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Add Event</title>
</head>
<body>
<h1>Add Event</h1>
<a th:href = @{/}>Home</a>
    <a th:href = "@{/AddUser}">Add User</a>

<form th:object="${event}" method="post">

    <label for="eventname">Event Name:</label>
    <input type="text" id="eventname" name="eventname" th:field="${event.name}" />

    <br/>

    <label for="description">Description:</label>
    <input type="text" id="description" name="description" th:field="${event.description}" />

    <br/>

    <label for="date">Date:</label>
    <input type="date" id="date" name="date" th:field="${event.date}" />

    <br/>

    <label for="time">Time:</label>
    <input type="time" id="time" name="time" th:field="${event.time}" />

    <br/>

    <select class="form-control" id="users" name="users" th:field = "${event.user}">
        <option value="">Select User</option>
        <option th:each="user : ${users}"
                th:value="${user.id}"
                th:text="${user.name}"></option>
    </select>

    <input type="submit" value="Add Event" />
</form>

</body>
</html>